.chat-input {
  display: flex;
  flex-direction: column;
  margin: 20px;
  & > div:first-of-type {
    display: flex;
    width: 100%;
  }
  &__emoji-picker {
    position: absolute;
    bottom: 70px;
    z-index: 1;
  }
  &__smile-btn {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &:hover {
      opacity: 1;
    }
  }
  &__recording-status {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #f56b6b;
    .stop-recording {
      margin-left: 5px;
      span {
        svg {
          position: relative;
          top: -1;
          width: 14px;
          height: 14px;
        }
      }
    }
    &-bubble {
      position: relative;
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: #f56b6b;
      border-radius: 30px;
      margin-right: 8px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 10px;
        width: 10px;
        background-color: rgba(245, 107, 107, 0.5);
        border-radius: 30px;
        animation: wave-animation 1s ease-in-out infinite;
        transition: transform .15s ease-in-out;
        transform: scale(1);
      }
    }
  }
  &__attachments {
    padding-top: 10px;
    padding-left: 47px;
  }
  &__actions {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
    margin-left: 15px;
    &-upload-btn {
      cursor: pointer;
      &:hover {
        button {
          opacity: 1;
        }
      }
    }
  }
  .anticon {
    font-size: 20px;
  }
  input {
    height: 40px;
    padding: 6px 11px 8px;
    font-size: 14px;
    &:focus {
      box-shadow: none;
    }
  }
}

@keyframes wave-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}