.chat-input {
  display: flex;
  margin: 20px;
  &__emoji-picker {
    position: absolute;
    bottom: 70px;
    z-index: 1;
  }
  &__smile-btn {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &:hover {
      opacity: 1;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
    margin-left: 15px;
    &-upload-btn {
      cursor: pointer;
      &:hover {
        button {
          opacity: 1;
        }
      }
    }
  }
  .anticon {
    font-size: 20px;
  }
  input {
    height: 40px;
    padding: 6px 11px 8px;
    font-size: 14px;
    &:focus {
      box-shadow: none;
    }
  }
}